body {
    background-image:url('../images/mainbg.jpg');
    background-size: 100%;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment:fixed;
}

.footer {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    border-top: 300px;
    padding-top: 50px;
    padding-left: 620px;
    border-left: 50px;

}

a:link {
    color: aliceblue;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: aliceblue;
}

.title {
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Mali', cursive;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Lobster', cursive;
    color: azure;
    margin: 10px;
    border: 10px;
    border-radius: 25px;
    text-align: center;
    
}

.display-3 {
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Mali', cursive;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-family: 'Lobster', cursive;
    color: azure;
    align-content: center;
    margin-top: 0%;
    font-weight: 30;
}

.form {
    margin-left: 420px;
}

.header {
    color: azure;
    font-size: large;
    height: 250px;
    margin-top: 50px;
    padding-top: 50px;
    border-radius: 25px;
    text-align: left;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container {
    align-content: center;
}

.date-night-title {
    font-family: 'Lobster', cursive;
    color: white;
    float: right;
    size: 350px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#zip-code-input {
    width: 25%;
    margin-top: 30px;
}

.lead {
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

#open-table {
    background-color: rgba(102, 102, 153, 0.8);
    color: azure;
}

#ticket-master {
    background-color: rgba(102, 102, 153, 0.8);
    color: azure;
}

#ticket-links {
    font-size: large;
}